Repository bitnami-labs/sealed-secrets, pull requests merged in 2021-12, with the labels that each got.

#668 Move release automation to GH actions
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  .gitignore
  .goreleaser.yml
  .travis.yml
  Dockerfile
  Makefile
  bors.toml
  docker/Dockerfile
Labels: ci/cd

#681 Update release GH action to include K8s manifests
  .github/workflows/release.yaml
  .goreleaser.yml
Labels: ci/cd

#685 Fix release GH action - missing kubecfg
  .github/workflows/release.yaml
Labels: bug, ci/cd

#687 New chart major version
  .github/workflows/helm-lint-test.yaml
  .github/workflows/helm-release.yaml
  cr.yaml
  helm/sealed-secrets/Chart.yaml
  helm/sealed-secrets/README.md
  helm/sealed-secrets/ci/ci-values.yaml
  helm/sealed-secrets/templates/NOTES.txt
  helm/sealed-secrets/templates/_helpers.tpl
  helm/sealed-secrets/templates/cluster-role-binding.yaml
  helm/sealed-secrets/templates/cluster-role.yaml
  helm/sealed-secrets/templates/configmap-dashboards.yaml
  helm/sealed-secrets/templates/deployment.yaml
  helm/sealed-secrets/templates/extra-list.yaml
  helm/sealed-secrets/templates/ingress.yaml
  helm/sealed-secrets/templates/networkpolicy.yaml
  helm/sealed-secrets/templates/psp-clusterrole.yaml
  helm/sealed-secrets/templates/psp-clusterrolebinding.yaml
  helm/sealed-secrets/templates/psp.yaml
  helm/sealed-secrets/templates/role-binding.yaml
  helm/sealed-secrets/templates/role.yaml
  helm/sealed-secrets/templates/service-account.yaml
  helm/sealed-secrets/templates/service.yaml
  helm/sealed-secrets/templates/servicemonitor.yaml
  helm/sealed-secrets/templates/tls-secret.yaml
  helm/sealed-secrets/values.yaml
Labels: enhancement

#689 Remove unrequired files
  linter.go
  version.yaml
Labels: enhancement

#690 Fix several bugs in servicemonitor
  helm/sealed-secrets/Chart.yaml
  helm/sealed-secrets/templates/service.yaml
  helm/sealed-secrets/templates/servicemonitor.yaml
Labels: bug

#693 Release linux/arm arch image in quay.io
  .github/workflows/release.yaml
Labels: ci/cd

#695 Fix dashboard ConfigMap labels
  helm/sealed-secrets/Chart.yaml
  helm/sealed-secrets/templates/configmap-dashboards.yaml
Labels: bug
