Repository bitnami-labs/sealed-secrets, pull requests merged in 2022-03, with the labels that each got.

#760 Upgrade kubecfg from v0.16.0 to v0.25.0
  .github/workflows/ci.yml
  .github/workflows/release.yaml
Labels: ci/cd, backlog

#751 fix: address some golangci-lint issues
  cmd/controller/controller.go
  cmd/controller/funcs.go
  cmd/controller/main.go
  cmd/controller/server.go
  cmd/kubeseal/main.go
  cmd/kubeseal/main_test.go
Labels: enhancement, backlog

#764 Helm chart - add support for customizing probes
  helm/sealed-secrets/Chart.yaml
  helm/sealed-secrets/README.md
  helm/sealed-secrets/templates/deployment.yaml
  helm/sealed-secrets/values.yaml
Labels: enhancement, backlog

#766 Add Controller's OpenAPI spec
  docs/developer/README.md
  docs/developer/controller.md
  docs/developer/swagger.yml
Labels: enhancement, backlog

#763 Update dependencies for Go1.18 compatibility
  go.mod
  go.sum
Labels: enhancement, backlog

#746 Add script to easily run kubeseal with a service account credentials
  scripts/kubeseal-sudo
Labels: ci/cd, backlog

#772 Update README file CI Badges
  README.md
Labels: enhancement, documentation, backlog

#771 Fix linter errors running golangci-lint
  cmd/controller/controller.go
  cmd/controller/main.go
  cmd/controller/main_test.go
  cmd/controller/server.go
  cmd/controller/server_test.go
  cmd/controller/signal_notwin.go
  cmd/kubeseal/main.go
  cmd/kubeseal/main_test.go
  pkg/apis/sealed-secrets/v1alpha1/register.go
  pkg/apis/sealed-secrets/v1alpha1/sealedsecret_test.go
Labels: enhancement, backlog

#775 Include golangci-lint
  .github/workflows/ci.yml
  Makefile
Labels: ci/cd

#774 Document use of --controller-name for kubeseal
  README.md
  helm/sealed-secrets/README.md
Labels: enhancement, documentation

#604 Bump distroless/static to fix DLA-2542-1, DLA-2509-1, DLA-2424-1
  Dockerfile
Labels: good first issue, security, backlog

#783 Bump prometheus/client_golang dependency to avoid CVE-2022-21698
  cmd/controller/metrics.go
  go.mod
  go.sum
Labels: enhancement, ci/cd

#792 Update Docker image version
  Dockerfile
Labels: enhancement, security, backlog

#784 fixing Dockerfile to run as non root
  Dockerfile
Labels: security, backlog

#782 Bump the Golang project version to 1.17
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  go.mod
  go.sum
Labels: ci/cd

#805 Run CI with the last two Go releases
  .github/workflows/ci.yml
Labels: enhancement, ci/cd

#794 Crypto doc rewrite
  docs/developer/crypto.md
Labels: documentation, backlog
