Repository bitnami-labs/sealed-secrets, pull requests merged in 2022-05, with the labels that each got.

#795 Gosec g304
  cmd/kubeseal/main.go
Labels: security, backlog

#789 Remove race condition in merge
  cmd/kubeseal/main.go
Labels: enhancement, security, backlog

#810 Cosign signature setup for release and docker image in CI
  .github/workflows/release.yaml
  .goreleaser.yml
Labels: enhancement, security, ci/cd

#828 fix: rbac permission
  helm/sealed-secrets/Chart.yaml
  helm/sealed-secrets/templates/role.yaml
Labels: enhancement

#798 Made gosec a step of the CI
  .github/workflows/ci.yml
Labels: enhancement, security, ci/cd, backlog

#845 Remove operator links
  README.md
Labels: documentation
