Repository bitnami-labs/sealed-secrets, pull requests merged in 2022-04, with the labels that each got.

#796 Add cosign verification for distroless image
  .github/workflows/ci.yml
Labels: enhancement, security, backlog

#813 Updated the distroless image verification to use a local key
  .github/workflows/ci.yml
Labels: enhancement, security

#801 Adding post-quantum analysis and recommendations
  docs/developer/crypto.md
Labels: documentation, backlog

#814 Include cosign public key
  .github/workflows/cosign.pub
  .goreleaser.yml
Labels: enhancement, security

#815 Format code with goimports
  cmd/controller/server_test.go
  cmd/controller/signal_notwin.go
  integration/controller_test.go
  integration/integration_suite_test.go
  integration/kubeseal_test.go
  pkg/apis/sealed-secrets/v1alpha1/register.go
  pkg/apis/sealed-secrets/v1alpha1/sealedsecret_test.go
  pkg/apis/sealed-secrets/v1alpha1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/typed/sealed-secrets/v1alpha1/sealedsecret.go
  pkg/multidocyaml/multidocyaml.go
  pkg/multidocyaml/multidocyaml_test.go
  tools.go
Labels: enhancement

#793 gosec G307: Deferring unsafe method "Close" on type "*os.File"
  cmd/kubeseal/main.go
Labels: security, backlog

#831 Bump prometheus/client_golang and crypto dependencies
  go.mod
  go.sum
Labels: security, ci/cd

#818 #791 Check if kubeseal encrypts using an expired certificate
  cmd/kubeseal/main.go
Labels: enhancement, security

#832 Add runtimeClassName as configurable value
  helm/sealed-secrets/Chart.yaml
  helm/sealed-secrets/README.md
  helm/sealed-secrets/templates/deployment.yaml
  helm/sealed-secrets/values.yaml
Labels: enhancement

#834 Update the vmware-image-builder action with the latest release
  .github/workflows/helm-vib.yaml
Labels: enhancement, ci/cd
