Repository bitnami-labs/sealed-secrets, pull requests merged in 2022-01, with the labels that each got.

#704 Update README.md
  README.md
Labels: documentation

#707 docs: Add a note about potential breaking change of image.repository
  CONTRIBUTING.md
  helm/sealed-secrets/README.md
Labels: documentation

#700 Markdown best practices + grammar errors + development guides
  README.md
  RELEASE-NOTES.md
  docs/GKE.md
  docs/bring-your-own-certificates.md
  docs/developer/README.md
  docs/developer/controller.md
  docs/developer/crypto.md
  docs/developer/kubeseal.md
  docs/examples/config-template/README.md
Labels: documentation

#705 Bump k8s.io/client-go to v0.22.1
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  cmd/controller/controller.go
  cmd/controller/keyregistry.go
  cmd/controller/keys.go
  cmd/controller/keys_test.go
  cmd/controller/main.go
  cmd/controller/main_test.go
  cmd/kubeseal/main.go
  cmd/kubeseal/main_test.go
  go.mod
  go.sum
  integration/controller_test.go
  integration/integration_suite_test.go
  integration/kubeseal_test.go
  pkg/client/clientset/versioned/typed/sealed-secrets/v1alpha1/sealedsecret.go
Labels: enhancement

#648 Fix Cannot fetch certificate: no endpoints available for service "http:sealed-secrets-controller:"
  cmd/kubeseal/main.go
Labels: enhancement

#635 Allow to specify ServiceMonitor annotations
  helm/sealed-secrets/README.md
  helm/sealed-secrets/templates/servicemonitor.yaml
  helm/sealed-secrets/values.yaml
Labels: enhancement

#712 Switch back to use TOC Generator to create the Table of Contents
  README.md
Labels: documentation

#718 TOC Generator to create a PR
  .github/workflows/toc.yml
Labels: ci/cd

#713 docs: Note about the ingress rule change in v2
  helm/sealed-secrets/README.md
Labels: bug

#720 TOC generation with git hooks
  .github/workflows/toc.yml
  README.md
  docs/developer/README.md
  githooks/pre-commit/doc-toc
Labels: documentation, ci/cd

#724 docs: fix missing ) and links to issues/pulls
  RELEASE-NOTES.md
Labels: documentation

#653 Unseal templates even when encryptedData is empty
  pkg/apis/sealed-secrets/v1alpha1/sealedsecret_expansion.go
  pkg/apis/sealed-secrets/v1alpha1/sealedsecret_test.go
Labels: enhancement

#726 Dynamically obtain svc port name on rencrypt/validate methods
  cmd/kubeseal/main.go
Labels: bug

#727 Use klog/v2 to fix the verbose logging
  cmd/kubeseal/main.go
  go.mod
Labels: bug

#725 Include stale configuration
  .github/workflows/stale.yml
Labels: documentation, ci/cd
