Repository bitnami-labs/sealed-secrets, pull requests merged in 2022-08, with the labels that each got.

#903 Update CODEOWNERS to add myself
  .github/CODEOWNERS
Labels: triage

#895 Replace ioutil with io or os
  cmd/controller/main.go
  cmd/controller/server.go
  cmd/controller/server_test.go
  cmd/kubeseal/main.go
  cmd/kubeseal/main_test.go
  integration/kubeseal_test.go
Labels: enhancement, backlog

#900 Use gotestsum for better test reporting.
  .github/workflows/ci.yml
  Makefile
Labels: enhancement, ci/cd, backlog

#899 Qualify RSA replacement recommendation
  docs/developer/crypto.md
Labels: enhancement, documentation

#902 Rename package folders to sealedsecrets
  cmd/controller/controller.go
  cmd/controller/main.go
  cmd/controller/metrics.go
  cmd/kubeseal/main.go
  cmd/kubeseal/main_test.go
  integration/controller_test.go
  integration/integration_suite_test.go
  integration/kubeseal_test.go
  pkg/apis/sealedsecrets/v1alpha1/boilerplate.go.txt
  pkg/apis/sealedsecrets/v1alpha1/doc.go
  pkg/apis/sealedsecrets/v1alpha1/register.go
  pkg/apis/sealedsecrets/v1alpha1/sealedsecret_expansion.go
  pkg/apis/sealedsecrets/v1alpha1/sealedsecret_test.go
  pkg/apis/sealedsecrets/v1alpha1/types.go
  pkg/apis/sealedsecrets/v1alpha1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/sealedsecrets/v1alpha1/doc.go
  pkg/client/clientset/versioned/typed/sealedsecrets/v1alpha1/fake/doc.go
  pkg/client/clientset/versioned/typed/sealedsecrets/v1alpha1/fake/fake_sealed-secrets_client.go
  pkg/client/clientset/versioned/typed/sealedsecrets/v1alpha1/fake/fake_sealedsecret.go
  pkg/client/clientset/versioned/typed/sealedsecrets/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/sealedsecrets/v1alpha1/sealed-secrets_client.go
  pkg/client/clientset/versioned/typed/sealedsecrets/v1alpha1/sealedsecret.go
  pkg/client/informers/externalversions/factory.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/sealedsecrets/interface.go
  pkg/client/informers/externalversions/sealedsecrets/v1alpha1/interface.go
  pkg/client/informers/externalversions/sealedsecrets/v1alpha1/sealedsecret.go
  pkg/client/listers/sealedsecrets/v1alpha1/expansion_generated.go
  pkg/client/listers/sealedsecrets/v1alpha1/sealedsecret.go
Labels: enhancement, backlog

#901 Remove clientconfig and related global variables
  cmd/kubeseal/main.go
  cmd/kubeseal/main_test.go
Labels: enhancement, backlog

#913 instruction about kubeseal installation on Linux distribution like ubuntu
  README.md
Labels: documentation

#922 Add josvazg to the maintainer list
  MAINTAINERS.md
  site/content/contributors/josvazg.md
  site/themes/template/static/img/team/josvazg.png
Labels: documentation, backlog

#920 Rebase of Refactor flag handling
  cmd/kubeseal/main.go
  cmd/kubeseal/main_test.go
Labels: enhancement, backlog

#931 Include gotestsum dependency in the Release process
  .github/workflows/release.yaml
Labels: bug, ci/cd, backlog

#927 Release Sealed Secrets 0.18.2
  RELEASE-NOTES.md
Labels: backlog

#924 Simplify controller testing
  Makefile
  docs/developer/controller.md
  scripts/check-k8s
Labels: enhancement, backlog

#935 Remove /dev/stdin mentions in Readme
  README.md
Labels: documentation, backlog
