Repository bitnami-labs/sealed-secrets, pull requests merged in 2022-07, with the labels that each got.

#873 feat: override rate limit
  cmd/controller/main.go
  cmd/controller/server.go
  cmd/controller/server_test.go
Labels: enhancement, backlog

#883 Fixed typo in the CODEOWNERS file
  .github/CODEOWNERS
Labels: enhancement, ci/cd

#882 Add flagenv and pflagenv
  .gitignore
  cmd/controller/main.go
  cmd/kubeseal/main.go
  go.mod
  go.sum
  pkg/flagenv/flagenv.go
  pkg/flagenv/flagenv_test.go
  pkg/pflagenv/flagenv.go
  pkg/pflagenv/flagenv_test.go
Labels: enhancement

#889 fix honorLabels
  helm/sealed-secrets/Chart.yaml
  helm/sealed-secrets/README.md
  helm/sealed-secrets/templates/servicemonitor.yaml
  helm/sealed-secrets/values.yaml
Labels: enhancement, backlog
