Repository bitnami-labs/sealed-secrets, pull requests merged in 2022-09, with the labels that each got.

#941 Add CRD schema and fix JSON errors
  Makefile
  helm/sealed-secrets/crds/bitnami.com_sealedsecrets.yaml
  helm/sealed-secrets/crds/sealedsecret-crd.yaml
  pkg/apis/sealedsecrets/v1alpha1/types.go
Labels: backlog

#911 Update README file
  README.md
Labels: enhancement, documentation

#921 Publish kubeseal binary in a Docker image
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  .gitignore
  Makefile
  docker/controller.Dockerfile
  docker/kubeseal.Dockerfile
Labels: enhancement, backlog

#946 feat: Support hostNetwork and dnsPolicy
  helm/sealed-secrets/Chart.yaml
  helm/sealed-secrets/README.md
  helm/sealed-secrets/templates/deployment.yaml
  helm/sealed-secrets/templates/psp.yaml
  helm/sealed-secrets/values.yaml
Labels: backlog

#965 fix: CRDs should not include unnecessary dashes
  Makefile
  helm/sealed-secrets/Chart.yaml
  helm/sealed-secrets/crds/bitnami.com_sealedsecrets.yaml
Labels: bug

#964 Fix status sub-resource not found error on updating status
  helm/sealed-secrets/crds/bitnami.com_sealedsecrets.yaml
  pkg/apis/sealedsecrets/v1alpha1/types.go
Labels: bug, chart
