Repository bitnami-labs/sealed-secrets, pull requests merged in 2022-02, with the labels that each got.

#730 updated ocp install using helm
  helm/sealed-secrets/README.md
Labels: documentation

#733 Add 'Simple Issue Labeler' GH action
  .github/workflows/label.yaml
  .github/workflows/stale.yml
Labels: ci/cd

#614 contrib/prometheus: Honor Labels added by controller
  controller-podmonitor.jsonnet
Labels: bug, metrics, backlog

#734 Chart command args
  helm/sealed-secrets/README.md
  helm/sealed-secrets/templates/deployment.yaml
  helm/sealed-secrets/values.yaml
Labels: enhancement, backlog

#736 Do not add 'stale' label to issues marked as 'help wanted'
  .github/workflows/stale.yml
Labels: ci/cd, backlog

#735 docs(readme): add webseal projects
  README.md
Labels: documentation, backlog

#737 Fix image pull secrets in chart
  helm/sealed-secrets/templates/deployment.yaml
Labels: bug, backlog

#742 Add integration with VIB
  .github/workflows/helm-lint-test.yaml
  .github/workflows/helm-release.yaml
  .github/workflows/helm-vib.yaml
  .vib/goss/goss.yaml
  .vib/vib-pipeline.json
  .vib/vib-platform-verify.json
  helm/ct.yaml
Labels: ci/cd, backlog

#743 Trivial PR to test VIB integration
  .github/workflows/helm-vib.yaml
  .vib/goss/goss.yaml
  .vib/vib-platform-verify.json
  helm/sealed-secrets/values.yaml
Labels: ci/cd, backlog

#738 Improve raw mode docs
  README.md
Labels: documentation

#745 Added required resourceName to Role
  helm/sealed-secrets/Chart.yaml
  helm/sealed-secrets/templates/role.yaml
Labels: bug, backlog

#752 Add arm64 releases for Darwin
  .goreleaser.yml
Labels: ci/cd, backlog

#750 docs: update README
  README.md
Labels: enhancement, documentation, backlog

#759 Update VIB GitHub action repository
  .github/workflows/helm-vib.yaml
Labels: triage
