Repository bitnami-labs/sealed-secrets, pull requests merged in 2022-06, with the labels that each got.

#572 Add capability to watch multiple namespaces
  README.md
  cmd/controller/funcs.go
  cmd/controller/main.go
Labels: enhancement

#849 Add Nixpkgs to installation options in README.md
  README.md
Labels: documentation

#864 add deploymentAnnotations field in helm chart
  helm/sealed-secrets/Chart.yaml
  helm/sealed-secrets/README.md
  helm/sealed-secrets/templates/deployment.yaml
  helm/sealed-secrets/templates/service-account.yaml
  helm/sealed-secrets/templates/service.yaml
  helm/sealed-secrets/values.yaml
Labels: enhancement, backlog
